<!DOCTYPE html>
<html ng-app="psApp">
  <head>
    <title>Process manager</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <!-- Bootstrap -->
    <link href='css/bootstrap.min.css' rel='stylesheet'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script>
    <script src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js'></script>
    <![endif]-->
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js'></script>
    <style type='text/css'>
    .container {
      max-width: 90%;
      width: 60em;
    }
    </style>

    <script>
    var psApp = angular.module('psApp', []);
    psApp
    .controller("ProcessListCtrl", function($scope, $http, $timeout, $q) {
      $scope.hosts = [];
      (function tick() {
        getItems($scope, $http, $q)(function(results) {
          if(results == null) return;
          $scope.processes = results.procs;
          $scope.serverTime = Date.parse(results.serverTime);
          for(i in $scope.processes) {
            $scope.processes[i].statusTime = Date.parse($scope.processes[i].statusTime);
            $scope.processes[i].procTime = Date.parse($scope.processes[i].procTime);
            $scope.processes[i].runningStatusTime = ($scope.serverTime - $scope.processes[i].statusTime)/1000.0;
            $scope.processes[i].runningProcTime = ($scope.serverTime - $scope.processes[i].procTime)/1000.0;
          }

          $scope.processes.sort(function(a, b) {
            return b.runningProcTime - a.runningProcTime;
          });
        });
        $timeout(tick, 1000);
      })();
      
      $scope.cancel = function(process) {
          $http({method: "delete", url:"http://"+process.host.address+"/procs/"+process.id, data:{message: "Cancel message"}});
      };

      $scope.addHost = function() {
        $scope.hosts.push({address: $scope.hostAddress, active: true})
      };

      $scope.removeHost = function(host) {
        $scope.hosts.splice($scope.hosts.indexOf(host), 1);
      }
    });

    function getItems($scope, $http, $q) {
      var promises = [];
      for(var i in $scope.hosts) {
        if($scope.hosts[i].active)
          promises = promises.concat($http.get('http://'+$scope.hosts[i].address+'/procs/'));
      }
      return $q.all(promises).then(function(results) {
          merged = {serverTime: "", procs: []};
          for(var i in results) {
            merged.serverTime = results[i].data.serverTime;
            for(var j in results[i].data.procs) {
              results[i].data.procs[j].host = $scope.hosts[i];
            }
            merged.procs = merged.procs.concat(results[i].data.procs);
          }
          return merged;
        }).catch(function(results) {
          // At least one of the requests failed, so we remove the
          // bad host from the array.
          for(var i in $scope.hosts) {
            if('http://'+$scope.hosts[i].address+'/procs/' === results.config.url) {
              $scope.hosts[i].active = false;
              break;
            }
          }
          return null;
        }).then;
      }
    </script>
  </head>
  <body>
    <div class='container'>
    <div class='page-header'>
      <h1>Process manager</h1>
    </div>
    <div ng-controller='ProcessListCtrl'>
     <div style='padding: 0 0 1em 0'>
        <h3>Hosts</h3>
        <ul style="list-style: none;">
          <li style="margin: 0.5em 0" ng-repeat="host in hosts">
            <input type='checkbox' ng-model='host.active'>
            <span>{{host.address}}</span>
            <button type='button' class='btn btn-danger btn-xs' ng-click='removeHost(host)'>Remove</button>
          </li>
        </ul>
        <form ng-submit='addHost()'>
          <input type='text' ng-model='hostAddress' size='40' placeholder="[host]:[port]">
          <input class='btn btn-primary btn-sm' type='submit' value='add'>
        </form>
      </div>
      <table class='table table-condensed'>
        <tr>
          <th>Host</th>
          <th>Process ID</th>
          <th>Status</th>
          <th>Running time (sec)</th>
          <th>Manage</th>
        </tr>
        <tr ng-repeat="process in processes">
          <td>{{process.host.address}}</td>
          <td>{{process.id}}</td>
          <td>{{process.status}}</td>
          <td>{{process.runningProcTime}}</td>
          <td>
            <button type="button" class="btn btn-danger btn-xs" ng-click="cancel(process)">Cancel</button>
          </td>
        </tr>
      </table>
    </div>
    </div>
  </body>
</html>
