<h3>Process: {{procId}} on {{host}}</h3>
<div ng-switch on="active">
    <h4 ng-switch-when="true">Currently Active</h4>
        <button type="button" class="btn btn-danger btn-xs" ng-click="cancel(host,procId)">Cancel</button>
        </h2>
        <h4 ng-switch-when="false">Current Not Active </h4>
</div>

<table class='table table-condensed'>
    <tr>
        <th>Cumulative Time</th>
        <th>Status</th>
    </tr>
    <tr ng-repeat="moment in history">
        <td>{{moment.cumulativeTime}}</td>
        <td>{{moment.status}}</td>
    </tr>
</table>

