    <div>
      <div id="host-box" >
        <h3>Hosts</h3>
        <ul id="host-list" >
          <li class="host-item" ng-repeat="host in hosts">
            <input type='checkbox' ng-model='host.active'>
            <span>{{host.address}}</span>
            <button type='button' class='btn btn-danger btn-xs' ng-click='removeHost(host)'>Remove</button>
          </li>
        </ul>
        <select style="float:right" ng-model="orderProp">
          <option value="host.address">Host</option>
          <option value="id">Process ID</option>
          <option value="status">Status</option>
          <option value="runningProcTime">Running Time</option>
        </select>
        <div style="clear:right"></div>
        <div style="float:right">
          Filter: <input ng-model="filter">
        </div>
        <form ng-submit='addHost()'>
          <input type='text' ng-model='hostAddress' size='40' placeholder="[host]:[port]">
          <input class='btn btn-primary btn-sm' type='submit' value='add'>
        </form>
      </div>
      <table class='table table-condensed'>
        <tr>
          <th>Host</th>
          <th>Process ID</th>
          <th>Status <button type="button" class="btn btn-default btn-xs">
              <span class="glyphicon glyphicon-sort-by-attributes"></span>
          </button></th>
          <th>Running time (sec)</th>
          <th>Manage</th>
        </tr>
        <tr ng-repeat="proc in procs | filter:filter | orderBy:orderProp">
          <td>{{proc.host}}</td>
          <td><a href="/app/index.html#/proc/{{proc.host}}/{{proc.id}}" class="thumb">{{proc.id}}</a></td>
          <td>{{proc.status}}</td>
          <td>{{proc.runningProcTime}}</td>
          <td>
            <button type="button" class="btn btn-danger btn-xs" ng-click="cancel(proc)">Cancel</button>
          </td>
        </tr>
      </table>
    </div>
